.gallery {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__list {
    margin: 15px 0 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5,1fr);
    list-style: none;
    padding: 0;
  }
  &__thumb {
    width: 230px;
  }
}
