@import "utils";
@import "fonts";
@import "typography";

body {
  margin: 0;
  padding: 0;

}

.gallery {
  @extend %flex-width100;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  & > div {
    @extend %flex-width100;
    object-fit: cover;
    max-width: 800px;
    max-height: 550px;
  }

  &__list {
    @extend %flex-width100;
    flex-direction: row;
    padding: 0;
    margin: 0;
    max-width: 800px;
  }

  &__img {
    @extend %flex-width100;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
  }

  &__thumb:hover {
    box-shadow: 0 0 5px rgb(88, 88, 88);
    cursor: pointer;
  }
}

.list-item {
  @extend %flex-width100;
  margin: 0;
  padding: 0;

  &__link {
    @extend %flex-width100;
  }
}
