@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin borders ($wid) {
  width: $wid;
  margin: 2px;
  padding: 4px;
  border: 1px solid cadetblue;
  box-sizing: border-box;
}
